<div
  class="bg-neutral-800 rounded-lg overflow-hidden shadow-lg transition-transform hover:scale-105 p-2 md:p-[10px]"
>
  <div class="relative">
    <img
      [src]="movie.posterUrl || 'assets/images/no-poster.jpg'"
      [alt]="movie.title"
      class="w-full h-52 md:h-64 object-cover rounded-lg"
      loading="lazy"
    />
    <button
      class="absolute top-2 right-2 p-2 rounded-full hover:bg-neutral-800/70 transition"
      (click)="onFavoriteClick()"
      aria-label="Favoritar"
    >
      <i
        class="bx text-xl md:text-2xl"
        [ngClass]="{
          'bx-star text-white': !movie.isFavorite,
          'bxs-star text-[#FEC60B]': movie.isFavorite
        }"
      >
      </i>
    </button>
  </div>

  <div class="mt-2">
    <h3 class="text-white text-sm md:text-base font-semibold mb-2 md:mb-3 truncate">{{ movie.title }}</h3>

    <div class="flex flex-wrap gap-1 md:gap-2">
      <span
        *ngFor="let service of movie.availableOn"
        class="text-[10px] md:text-xs py-1 px-2 md:px-3 rounded-full"
        [ngClass]="{
          'bg-red-600 text-white': service === 'Netflix',
          'bg-blue-600 text-white': service === 'Prime Video',
          'bg-purple-600 text-white': service === 'Max',
          'bg-green-600 text-white': service === 'Disney+',
          'bg-gray-600 text-white': ![
            'Netflix',
            'Prime Video',
            'Max',
            'Disney+'
          ].includes(service)
        }"
      >
        {{ service }}
      </span>
    </div>
  </div>
</div>
