<div
  class="flex items-center justify-around py-4 bg-neutral-900 md:relative md:w-16 md:flex-col md:justify-center md:py-0 md:h-full"
>
  <a
    [routerLink]="['/home']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="p-3 rounded-md hover:bg-neutral-700 transition cursor-pointer flex items-center"
  >
    <i
      class="bx bx-home-alt-2 text-2xl"
      [ngClass]="{
        'text-white': !(router.url === '/home'),
        'text-[#fec60b]': router.url === '/home'
      }"
    ></i>
  </a>
  <a
    [routerLink]="['/favorites']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="p-3 rounded-md hover:bg-neutral-700 transition cursor-pointer flex items-center"
  >
    <i
      class="bx bx-star text-2xl"
      [ngClass]="{
        'text-white': !(router.url === '/favorites'),
        'text-[#fec60b]': router.url === '/favorites'
      }"
    ></i>
  </a>

    <a
    [routerLink]="['/movie/new']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="p-3 rounded-md hover:bg-neutral-700 transition cursor-pointer flex items-center"
  >
    <i
      class="bx bx-plus text-2xl"
      [ngClass]="{
        'text-white': !(router.url === '/movie/new'),
        'text-[#fec60b]': router.url === '/movie/new'
      }"
    ></i>
  </a>

  <button
    (click)="logout()"
    class="p-3 rounded-md hover:bg-neutral-700 transition cursor-pointer flex items-center md:absolute md:bottom-4"
    title="Sair"
  >
    <i class="bx bx-arrow-out-left-square-half text-white text-2xl"></i>
  </button>
</div>
